.container {
  width: 400px;
  box-shadow: 0 0 30px rgba(0,0,0,0.1);
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border: 1px solid gray;
}

@media only screen
    and (width: 390px)
    and (height: 844px)
    and (-webkit-device-pixel-ratio: 3) {
  .container {
    width: 100%;
    box-shadow: none;
    border: none;
  }

}

div.title {
  display: flex;
  flex-direction: column;
}

div.title p{
  margin: 0;
}

p.title {
  color: purple;
  font-weight: bold;
  font-size: 1.1em;
}
